// COLOR MAP
$text-primary-color: #333333;
$text-secondary-color: #585858;
$text-third-color: #ffffff;
$text-fourth-color: #3e6e00;
$text-fifth-color: #000000;
$language-primary-color: #aeaeae;
$language-secondary-color: #333333;
$nav-decoration-primary-color: #585858;
$nav-decoration-secondary-color: #3e6e00;
$section-title-decoration-color: #3e6e00;
$section-button-border-color: #ffffff;
$background-form-header: #f5f5f5;
$background-dekor-contackt: #c4c4c4;
$section-popular-products-bg: #f5f5f5;
$section-title-color: #363637;
$section-popular-products-btn: #333333;
$section-popular-products-like-btn-bg: rgba(255, 255, 255, 0.6);
$section-decoration-color: #ffffff;
$section-popular-products-relevant-color: #F23030;
$telephone-call-bg-color: #3e6e00;
$section-popular-products-like-btn: #333333;
$section-popular-products-like-btn-bg: rgba(255, 255, 255, 0.6);
$section-popular-products-relevant-color: #F23030;
$background-primary-color: #E5E5E5;
$background-section-delivery: #EDECEC;
$section-delivery-text: #3E3F46;
$section-own-import-border-color: #585858;
$footer-primary-bg-color: #E5E5E5;
$footer-secondary-bg-color: #EDECEC;
$footer-creators-color: #3E3F46;
$footer-creators-border-color: #3E3F46;
$facebook: #150dc2;
$youtube: #e10f2d;
$viber: #8b58a8;
$whatsapp: #6eee46;
$telegram: #5bb6f0;
// FONTS
$primary-font: 'Proxima Nova',
'sans-serif';
$secondary-font: 'Roboto',
'sans-serif';
$third-font: 'Fira Sans',
'sans-serif';